


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#titre{
  display: flex;
  flex-direction:row;
}

.App {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 20px ;
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Ajoutez ces styles dans votre fichier App.css ou dans un fichier CSS séparé */

/* Styles pour la liste de films */
.film-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

/* Style pour chaque élément de la liste de films */
.film-item {
  background-color: #444;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
  width: calc(33.33% - 20px); /* Pour créer une grille à 3 colonnes */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Style pour le titre du film */
.film-title {
  font-size: 18px;
  margin: 5px 0;
}

/* Style pour la description du film */
.film-description {
  font-size: 14px;
  margin: 5px 0;
}

/* Style pour le bouton "Marquer comme vu" */
.mark-as-viewed {
  background-color: #2ecc71;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

/* Style pour le bouton "Marquer comme à voir" */
.mark-as-to-watch {
  background-color: #e74c3c;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

/* Ajoutez ces styles dans votre fichier App.css ou dans un fichier CSS séparé */

/* Ajoutez ces styles dans votre fichier App.css ou dans un fichier CSS séparé */

.navbar {
  background-color: #333; /* Couleur de fond de la barre de navigation */
  display: flex; /* Afficher les éléments en ligne */
  align-items: center; /* Centrer verticalement les éléments */
  padding: 10px 20px; /* Espacement intérieur */
}

/* Style pour l'image du logo */

.App-logo {
  height: 10vmin;
  width: 10vmin;
  pointer-events: none;
}
.nav-list {
  list-style-type: none;
  display: flex; /* Afficher les éléments en ligne */
  gap: 20px; /* Espacement entre les liens */
}

.nav-item {
  font-size: 20px;
}

.nav-link {
  text-decoration: none;
  color: white;
  transition: color 0.2s;
}

.nav-link:hover {
  color: #61dafb;
}

